.word {
  color: red;
  cursor: pointer;
}
.word:hover {
  background: lightgrey;
  color: white;
}
.word:active {
  color: green;
}
.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  padding: 1.2rem 1.5rem;
}
.scriptBox,
.dictBox {
  width: 100%;
  border-radius: 10px;
  min-height: 150px;
  background-color: #fff;
  box-shadow: 0 2px 30px 0 rgb(0 0 0 / 10%);
  padding: 1.5rem 2rem;
}
.dictBox {
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .content {
    width: 100%;
    padding: 1.2rem 0;
  }
}
