@media screen and (min-width: 1024px) {
  .videoContainer {
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 700px;
    min-width: 800px;
    position: relative;
  }
  .videoContainer iframe,
  .videoContainer object,
  .videoContainer embed {
    position: absolute;
    max-height: 700px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    overflow: hidden;
    width: 100%;
  }

  .videoContainer iframe,
  .videoContainer object,
  .videoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
