.categories {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.catItem {
  font-size: 0.85rem;
  margin-right: 8px;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  white-space: nowrap;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.catItemActive {
  color: white;
  background-color: #6713d4;
}
.catItem:hover,
.contentItem:hover {
  color: white;
  background-color: #6713d4;
}
.catItem:active,
.contentItem:active {
  color: white;
  background-color: #5e10c3;
}
.content {
  display: flex;
  flex-direction: column;
}
.contentItem {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
  margin-bottom: 12px;
  cursor: pointer;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ItemImage {
  width: 105px;
  height: 70px;
  position: relative;
}
@media screen and (min-width: 640px) {
  .ItemImage {
    width: 150px;
    height: 100px;
  }
  .contentItem {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .ItemImage {
    width: 180px;
    height: 120px;
  }
  .contentItem {
    margin-bottom: 20px;
  }
}
