.categories {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  overflow-x: auto;
}

.catItem {
  font-size: 0.85rem;
  margin-right: 10px;
  background-color: #fff;
  padding: 3px 20px;
  border-radius: 12px;
  white-space: nowrap;
}
.catItemActive {
  color: white;
  background-color: #6713d4;
}
.catItem:hover,
.contentItem:hover {
  color: white;
  background-color: #6713d4;
}
.catItem:active,
.contentItem:active {
  color: white;
  background-color: #5e10c3;
}
.content {
  display: flex;
  flex-direction: column;
}
.contentItem {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
  margin-bottom: 8px;
  cursor: pointer;
  background-color: white;
}
