.categories {
  display: flex;
  flex-direction: row;
}

.categories > li {
  margin-right: 10px;
  background-color: lightgrey;
  padding: 2px 10px;
  border-radius: 15px;
}
.categories > li:hover {
  background-color: blue;
}
.categories > li:active {
  background-color: red;
}
.content {
  display: flex;
  flex-direction: column;
}
.contentItem {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 #00000010;
  margin-bottom: 8px;
  cursor: pointer;
}
.contentItem:hover {
  background-color: lightgrey;
}
.contentItem:active {
  background-color: blue;
}
